<app-menu></app-menu>

<div class="columns">
  <div class="column is-three-fifths">
    <section class="section is-medium pr-3">
      <div class="hero-body has-text-centered-mobile">
        <p class="primary-text title is-1-desktop is-3-tablet is-5-mobile ">
          No es solo un restaurante,<br>es una Experiencia
        </p>
        <p class="subtitle  is-size-4 mt-1">
          No solo somos Hamburguesa prueba lo que tenemos para ti
        </p>

        <button class="button is-rounded background-color-orange has-text-white is-size-5 mt-5 mr-5 ">Ver
          Menú</button>
        <button class="button is-white is-rounded is-size-5 mt-5 ">Nuestras Ofertas</button>
      </div>
    </section>


  </div>
  <div class="column">
    <div class="section mr-6">
      <figure class="image is-40x40-desktop is-80x80-tablet p-5">
        <img src="assets/burger.png">
      </figure>
    </div>

  </div>
</div>

<div class="columns ">

  <div class="column has-text-right">
    <section class="section is-medium ">
      <button class="button is-white are-large is-rounded py-5 px-4"><i
          class="fa-solid fa-chevron-left is-size-3 "></i></button>
    </section>

  </div>
  <div class="column is-three-fifths has-text-centered">

    <div class="columns">

      <div class="column is-4">
        <app-card-home></app-card-home>
      </div>

      <div class="column is-4">
        <app-card-home></app-card-home>
      </div>
      <div class="column is-4">
        <app-card-home></app-card-home>
      </div>
    </div>




  </div>
  <div class="column">
    <section class="section is-medium">
      <button class="button is-white are-large is-rounded py-5 px-4"><i
          class="fa-solid fa-chevron-right is-size-3 "></i></button>
    </section>

  </div>
</div>
