<div [ngClass]="seeFilters?'':'is-hidden-touch'" class="columns " data-aos="fade-down">
  <div class="column is-3 info-padding">
    <p class="control has-icons-right my-3 ">
      <input class="input is-rounded border-orange" [(ngModel)]="username"
        (ngModelChange)="searchByParams('username', $event)" type="text"
        placeholder="Escribe el username del cliente..." required="true">
    </p>
  </div>
  <div class="column is-3 info-padding">
    <p class="control has-icons-right my-3 ">
      <input class="input is-rounded border-orange" [ngModel]="idBill"
        (ngModelChange)="searchByParams('idBill', $event)" type="text" placeholder="Escribe el número de la factura..."
        required="true">
    </p>
  </div>

  <div class="column is-6 info-padding">
    <input class="calendar m-4 is-size-5 borders" type="date" [ngModel]="startDate | date:'yyyy-MM-dd'"
      (ngModelChange)="searchByParams('startDate', $event)">
    <input class="calendar m-4 is-size-5 borders" type="date" [ngModel]="endDate | date:'yyyy-MM-dd'"
      (ngModelChange)="searchByParams('endDate', $event)">

    <div class="select is-rounded m-3">
      <select [ngModel]="statusBill" (ngModelChange)="searchByParams('statusBill',$event)">
        <option value="DEFAULT">Selecciona un estado</option>
        <option value="PENDING">Pendiente</option>
        <option value="PAID">Paga</option>
        <option value="NONPAYMENT">No paga</option>
        <option value="DELETED">Eliminada</option>
      </select>
    </div>
  </div>
</div>
<button (click)="seeFilters = !seeFilters"
  class="button is-rounded background-color-orange has-text-white is-size-5 m-3 is-hidden-desktop"><i
    class="fa-solid fa-arrow-down-wide-short mr-2"></i>Ver
  filtros</button>
<div *ngIf="listBills!=null" class="columns scroll-info is-flex-wrap-wrap info-padding" data-aos="fade-up">
  <app-bill-card class="column widthcardbill" *ngFor="let bill of listBills.data.bill" [bill]="bill">
  </app-bill-card>

  <app-bill-modal (close)="isModalVisible=false" *ngIf="isModalVisible" [bill]="oneBill"></app-bill-modal>
</div>
