<a (click)="showDetailsBill()">
  <div class="card borders">
    <div class="columns p-2 mb-0 is-gapless">
      <div class="column is-10 my-1 media-content">
        <p class="title is-4 color-orange">Factura # {{bill.billUserDTO.idBill}}</p>
        <ul class="subtitle is-size-6 has-text-weight-semibold color-darkblue">
          <li *ngIf="bill.billUserDTO.userForBill!=null">
            Cliente: <span class="has-text-weight-normal">{{bill.billUserDTO.userForBill.name}}</span>
          </li>
          <li>
            Fecha: <span class="has-text-weight-normal">{{bill.billUserDTO.date | date:'medium'}}</span>
          </li>
          <li *ngIf="bill.billUserDTO.noTable>0">
            Mesa: <span class="has-text-weight-normal">{{bill.billUserDTO.noTable }}</span>
          </li>
          <li>
            Estado: <span class="tag has-text-weight-normal" [ngClass]="{'is-success':(bill.billUserDTO.statusBill==='PENDING'),
              'is-warning':(bill.billUserDTO.statusBill==='PAID'),
                'is-danger':(bill.billUserDTO.statusBill==='DELETED')}">{{bill.billUserDTO.statusBill
              |statusBill}}</span>
          </li>
          <li>
            Metodo de pago: <span class="has-text-weight-normal">{{bill.billUserDTO.payMode.name}}</span>
          </li>
        </ul>
      </div>
      <div *ngIf="bill.billUserDTO.userForBill!=null"
        class="column is-2 is-flex is-justify-content-end image-responsive">
        <figure class="image is-64x64">
          <img *ngIf="bill.billUserDTO.userForBill.urlImage!=null" class="is-rounded"
            [src]="bill.billUserDTO.userForBill.urlImage" alt="Placeholder image">
        </figure>
      </div>
    </div>
    <table class="table table-padding is-fullwidth is-striped has-background-light borders fixed">
      <thead>
        <tr>
          <th class="table-text">Cant</th>
          <th class="table-text">Producto</th>
          <th class="table-text">Costo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let orders of bill.ordersDTO | slice:0:2">
          <th class="table-item has-text-left">
            {{orders.amount}}
          </th>
          <th class="table-item has-text-left">
            {{orders.product.name}}
          </th>
          <th class="table-item has-text-left">
            <i class="fa-solid fa-dollar-sign"></i> {{orders.total |number}}
          </th>
        </tr>
        <tr *ngIf="bill.ordersDTO.length>2">
          <th></th>
          <th class="table-item has-text-left">
            Ver más...
          </th>
          <th><i class="fa-solid fa-angle-down"></i></th>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th class="table-text color-orange">
            Total
          </th>
          <th>
          </th>
          <th class="table-text color-orange has-text-left">
            <i class="fa-solid fa-dollar-sign"></i> {{bill.billUserDTO.totalPrice |number}}
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</a>

<app-bill-modal (close)="isModalVisible=false" *ngIf="isModalVisible" [bill]="bill"></app-bill-modal>
