<div class="columns">
  <div [ngClass]="(!showDetails && !validateUser)?'column is-12 info-padding':'column is-8 info-padding'">

    <app-search [holder]="'Escribe el nombre del cliente...'" (onDebounce)="search($event)"></app-search>
    <app-suggest-input-search [option]="'client'" [listData]="listNames">
    </app-suggest-input-search>

    <div *ngIf="users!=null" class="scroll-info" data-aos="fade-up">
      <app-no-info *ngIf="users.data.user.length==0" [mensaje]="'No hay clientes'"></app-no-info>
      <div class="columns is-flex is-flex-wrap-wrap">
        <app-user-card class="column widthcarduser" (detailUser)="showDetailUser($event)"
          *ngFor="let user of users.data.user" [user]="user">
        </app-user-card>
      </div>
    </div>
  </div>

  <div [ngClass]="{'is-4':!(showDetails && validateUser)}" class="column side-padding" data-aos="fade-left">
    <div id="editUser" class="has-background-white borders ">
      <app-user-side *ngIf="validateUser" [editUser]="editUser"></app-user-side>
      <app-user-side-employee *ngIf="!validateUser" [editUser]="editUser" (showDetails)="showDetails = false">
      </app-user-side-employee>
    </div>
  </div>
</div>
