<div class="column is-flex is-justify-content-center	is-align-items-center is-align-content-center is-flex-grow-4"
  data-aos="fade-up">
  <section class="section is-medium">
    <div class="card card-login p-4">

      <figure class="imagen-logo-login">
        <img routerLink="/home" src="/assets/logo.png" alt="imagen">
      </figure>
      <h1 class="is-size-3 mt-3 has-text-centered">
        Reestablecer contraseña
      </h1>
      <br>

      <div [formGroup]="forgetForm" class="form">
        <div class="tooltip">
          <h1 class="is-size-5 color-darkblue my-2">Correo electrónico</h1>
          <span *ngIf="validate('email')" class="tag is-warning tooltip tooltiptext">{{emailText}}</span>
        </div>
        <p class="control has-icons-left has-icons-right"
          [ngClass]="{'is-loading ':forgetForm.controls['email'].pending}">
          <input formControlName="email" class="input  input-fields is-rounded border-orange" type="email"
            placeholder="Correo electronico">
          <span class="icon is-small is-left">
            <i class="fas fa-envelope"></i>
          </span>
          <span *ngIf="forgetForm.controls['email'].valid==true" class="icon is-small is-right has-text-success ">
            <i class="fas fa-check"></i>
          </span>
          <span *ngIf="forgetForm.controls['email'].errors!=null"
            [ngClass]="{'is-hidden':forgetForm.controls['email']!=null}" class="icon is-small is-right has-text-danger">
            <i class="fa-solid fa-x"></i>
          </span>
        </p>
        <div class="buttons is-justify-content-center">
          <button (click)="sendMail()" [disabled]="forgetForm.valid==false"
            class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Enviar correo</button>
        </div>


      </div>


    </div>
  </section>
</div>
