<figure class="imagen-logo-login">
  <img src="/assets/logo.png" alt="imagen">
</figure>
<h1 class="is-size-3 mt-3 has-text-centered">
  Iniciar Sesión
</h1>
<br>

<form [formGroup]="loginForm">

  <p class="control has-icons-left has-icons-right my-3 ">
    <input formControlName="username" class="input is-rounded border-orange" type="text" placeholder="Username"
      required="true">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
  </p>
  <span *ngIf="esValido('username')" class="form-text has-text-danger">Este campo es obligatorio</span>


  <p class="control has-icons-left my-3">
    <input formControlName="password" class="input is-rounded border-orange" type="password" placeholder="Contraseña"
      required="true">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
  <span *ngIf="esValido('password')" class="form-text has-text-danger">Este campo es obligatorio</span>

</form>
