<div class="card">
  <div class="card-image">
    <figure class="image">
      <img src="assets/plate.jpg">
    </figure>
  </div>

  <div class="content pb-2">

    <header>
      <span class="is-size-4 color-orange has-text-weight-semibold px-3">
        <i class="fa-solid fa-clock color-darkblue "></i>
        30 min
      </span>

      <span class="is-size-4 color-darkblue has-text-weight-semibold  px-3">
        <i class="fa-solid fa-fire color-orange"></i>
        230 kcal
      </span>

    </header>

    <div class="content mb-3">
      <h3 class="is-size-5 my-2 ">
        Hamburguesa Romana
      </h3>

      <span class="has-text-weight-semibold color-orange is-size-4 my-2 ">
        <i class="fa-solid fa-dollar-sign"></i> 12.000
      </span>

    </div>
  </div>
</div>
