<div class="modal is-active">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card">
    <div class="borders has-background-white">
      <figure class="image ">
        <div *ngIf="product.highlight>0" class="highlight is-flex  is-justify-content-flex-end is-align-self-flex-end">
          <figure class="image is-32x32 ml-2 p-1">
            <img src="assets/star.png">
          </figure>

        </div>
        <img class="borders-product-image" [src]="product.imageUrl!=null?product.imageUrl: 'assets/default-image.jpg'">
      </figure>

      <div class="content has-text-centered pb-2">
        <header>
          <span *ngIf="product.duration!=null"
            class="top-content-product is-size-5 is-size-6-mobile color-orange has-text-weight-semibold">
            <i class="fa-solid fa-clock color-darkblue "></i>
            {{product.duration}} min
          </span>

          <span *ngIf="product.calories!=0"
            class="top-content-product is-size-5 is-size-6-mobile color-darkblue has-text-weight-semibold">
            <i class="fa-solid fa-fire color-orange"></i>
            {{product.calories}} kcal
          </span>

        </header>

        <div class="content mb-3 has-text-centered">
          <h3 class="is-size-5 my-2">
            {{product.name}}
          </h3>

          <p class="px-2">
            {{product.description}}
          </p>

          <div *ngIf="listAdditional?.length>0" class="ingredient">
            <h2 class="subtitle is-size-6">
              ¿Deseas añadir algun adicional?
            </h2>
            <button (click)="addAdditional(ingredient)" *ngFor="let ingredient of listAdditional"
              class="button button-additional is-light is-size-6 has-text-weight-semibold  p-2 mr-2 mb-2"
              id="{{ingredient.idAdditional}}">
              {{ingredient.name}} <i class="fa-solid fa-dollar-sign ml-1"></i>{{ingredient.price}}
            </button>
          </div>
          <span class="color-orange has-text-weight-semibold is-size-5 my-2">
            <i class="fa-solid fa-dollar-sign"></i> {{product.price + additionalPrice}}
          </span>
          <br>
          <button (click)="addtoCar(product)" class="button is-warning has-text-weight-semibold mt-3">Comprar</button>
        </div>
      </div>
    </div>
  </div>
  <button class="modal-close is-large" (click)="closeModal()" aria-label="close"></button>
</div>
