<div class="columns div-header is-gapless" id="header">
  <div class="column is-three-fifths is-align-self-center" data-aos="fade-right" data-aos-anchor-placement="top-center">
    <div class="header-text has-text-centered-mobile">
      <p class="primary-text title is-1-desktop is-3-tablet is-size-2-mobile">
        No es solo un restaurante,<br>es una Experiencia
      </p>
      <p class="subtitle  is-size-5 mt-1">
        No solo somos Hamburguesa prueba lo que tenemos para ti
      </p>
      <div class="is-flex"><button class="button is-rounded background-color-orange has-text-white is-size-5 mr-5 ">Ver
          Menú</button>
        <button class="button is-white is-rounded is-size-5 is-size-5-mobiles">Nuestras Ofertas</button>
      </div>
    </div>
  </div>
  <div class="column is-hidden-touch" data-aos="fade-left" data-aos-anchor-placement="top-center">
    <div class="section mt-3 mr-6">
      <figure class="image image-burger banner_img">
        <img src="assets/burger.png">
        <div class="box-shadow-burger pt-1"></div>
      </figure>
    </div>
  </div>
</div>

<div *ngIf=" listProducts!=null" class="columns" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="column has-text-right is-hidden-desktop-only is-hidden-mobile">
    <section class="section is-medium">
    </section>
  </div>
  <div class="column is-four-fifths has-text-centered">
    <div class="product">
      <div class="container-fluid">
        <div class="slider-wrap">
          <div class="slider-main">
            <app-product-card-buy class="item" *ngFor="let product of listProducts.data.products" [product]="product">
            </app-product-card-buy>
          </div>
          <button class="button prev is-white are-large is-rounded py-5 px-4" appButtonPrev><i
              class="fa-solid fa-chevron-left is-size-3 "></i></button>
          <button class="button next is-white are-large is-rounded py-5 px-4" appButtonNext><i
              class="fa-solid fa-chevron-right is-size-3"></i></button>
        </div>
      </div>
    </div>
  </div>

  <div class="column is-hidden-desktop-only is-hidden-mobile">
    <section class="section is-medium">
    </section>
  </div>

</div>
