<div class="container" id="sidebar">


  <a class="navbar-item" routerLink="/admin/home">
    <img class="logo-header" src="assets/logo.png">
  </a>
  <br>
  <div class="navbar-start">
    <div class="itemList">
      <a routerLink="/admin/home" routerLinkActive="active"
        class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-house "></i>
      </a>
      <a routerLink="/admin/products" routerLinkActive="active"
        class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-book-open"></i>
      </a>

      <a routerLink="/admin/additional" class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-circle-plus"></i>
      </a>

      <a routerLink="/admin/category" class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-square-caret-down"></i>
      </a>

      <a routerLink="/admin/bill" routerLinkActive="active"
        class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-calendar-check"></i>
      </a>

      <a routerLink="/admin/client" routerLinkActive="active"
        class="navbar-item  is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-users"></i>
      </a>

      <a routerLink="/admin/grafics" routerLinkActive="active"
        class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-chart-area"></i>
      </a>

      <a routerLink="/admin/settings" routerLinkActive="active"
        class="navbar-item is-align-items-center color-darkblue size-icon">
        <i class="fa-solid fa-sliders"></i>
      </a>
    </div>

  </div>
</div>
