<div class="container-nav is-mobile">
  <ul class="navigationbar is-flex borders">
    <li>
      <a class="nav-link" href="#header"><i class="fa-solid fa-house color-white"></i></a>
    </li>
    <li>
      <a class="nav-link" href="#menu"><i class="fa-solid fa-book-open color-white"></i></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/order"><i class="fa-solid fa-basket-shopping color-white"></i></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/checkout"><i class="fa-solid fa-money-bill-1-wave color-white"></i></a>
    </li>
    <li>
      <a class="nav-link" routerLink="/profile"><i class="fa-solid fa-user color-white"></i></a>
    </li>
  </ul>
</div>
