<section class="section">
  <div class="columns">
    <div class="column is-7">
      <div class="hero-body has-text-centered-mobile">
        <p class="primary-text title is-1-desktop is-3-tablet is-5-mobile ">
          Contáctanos
        </p>
      </div>
      <form action="" class="form p-6">
        <div class="columns">
          <div class="column">
            <h1 class="is-size-4">Nombre completo</h1>
            <p class="control has-icons-left has-icons-right my-3">
              <input formControlName="name" class="input is-rounded border-orange" type="text"
                placeholder="Nombre completo">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-circle-user"></i>
              </span>
            </p>
            <h1 class="is-size-4">Asunto</h1>
            <p class="control has-icons-left has-icons-right my-3">
              <input formControlName="name" class="input is-rounded border-orange" type="text"
                placeholder="Nombre completo">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-paper-plane"></i>
              </span>
            </p>
          </div>
          <div class="column">
            <h1 class="is-size-4">Celular</h1>
            <p class="control has-icons-left has-icons-right my-3">
              <input formControlName="name" class="input is-rounded border-orange" type="text"
                placeholder="Nombre completo">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-phone"></i>
              </span>
            </p>
            <h1 class="is-size-4">Correo</h1>
            <p class="control has-icons-left has-icons-right my-3">
              <input formControlName="name" class="input is-rounded border-orange" type="text"
                placeholder="Nombre completo">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </p>
          </div>

        </div>
        <h1 class="is-size-4 mb-2">Mensaje</h1>
        <div class="control ">
          <textarea formControlName="description" class="textarea has-fixed-size borders "
            placeholder="Cuerpo del mensaje"></textarea>
        </div>
        <div class="has-text-centered">
          <button class="button is-rounded background-color-orange has-text-white is-size-5 m-3 has-text-centered	">
            <span>Enviar</span>
            <span class="icon is-small">
              <i class="fas fa-check"></i>
            </span>
          </button>
        </div>

      </form>
    </div>
    <div class="column">
      <section class="section">
        <figure class="image is-4by5">
          <img class="borders box-shadow"
            src="https://images.pexels.com/photos/4109111/pexels-photo-4109111.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
        </figure>
      </section>

    </div>
  </div>
</section>
