<div class="column is-flex is-justify-content-center	is-align-items-center is-align-content-center is-flex-grow-4"
  data-aos="fade-up">
  <section class="section is-medium">
    <div class="card card-login p-4">

      <figure class="imagen-logo-login">
        <img routerLink="/home" src="/assets/logo.png" alt="imagen">
      </figure>
      <h1 class="is-size-3 mt-3 has-text-centered">
        Reestablecer contraseña
      </h1>
      <br>

      <div [formGroup]="recoverForm" class="form">

        <p class="control has-icons-left my-3">
          <input formControlName="newPassword" class="input is-rounded border-orange" type="password"
            placeholder="Contraseña">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>

        <p class="control has-icons-left my-3">
          <input formControlName="repeatNewPassword" class="input is-rounded border-orange" type="password"
            placeholder="Confirmar contraseña">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
        <div class="buttons is-justify-content-center">
          <button (click)="recoverPassword()" [disabled]="recoverForm.valid==false"
            class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Recuperar contraseña</button>
        </div>


      </div>


    </div>
  </section>
</div>
