<figure class="imagen-logo-login">
  <img routerLink="/home" src="/assets/logo.webp" alt="imagen">
</figure>
<h1 class="is-size-3 mt-2 has-text-centered">
  Crear cuenta
</h1>
<div [formGroup]="signUpForm" class="form">
  <div class="tooltip">
    <span *ngIf="validate('name')" class="tag is-warning tooltip">Este campo es
      obligatorio</span>
  </div>
  <p class="control has-icons-left has-icons-right ">
    <input formControlName="name" class="input is-rounded border-orange" type="text" placeholder="Nombre completo">
    <span class="icon is-small is-left">
      <i class="fa-solid fa-id-card"></i>
    </span>
  </p>
  <div class="tooltip">
    <span *ngIf="validate('username')" class="tag is-warning tooltip">{{usernameText}}</span>
  </div>
  <p class="control has-icons-left has-icons-right "
    [ngClass]="{'is-loading ':signUpForm.controls['username'].pending}">
    <input formControlName="username" class="input is-rounded border-orange" type="text"
      placeholder="Nombre de usuario">
    <span class="icon is-small is-left">
      <i class="fa-solid fa-user"></i>
    </span>
    <span *ngIf="signUpForm.controls['username'].valid==true" class="icon is-small is-right has-text-success">
      <i class="fas fa-check"></i>
    </span>
    <span *ngIf="(signUpForm.controls['username'].errors!=null && signUpForm.value['username']!=null)"
      class="icon is-small is-right has-text-danger">
      <i class="fa-solid fa-x"></i>
    </span>

  </p>
  <div class="tooltip">
    <span *ngIf="validate('phone')" class="tag is-warning tooltip">{{phoneText}}</span>
  </div>
  <p class="control has-icons-left has-icons-right ">
    <input formControlName="phone" class="input is-rounded border-orange" type="number" placeholder="Telefono">
    <span class="icon is-small is-left">
      <i class="fa-solid fa-phone"></i>
    </span>
  </p>
  <div class="tooltip">
    <span *ngIf="validate('email')" class="tag is-warning tooltip">{{emailText}}</span>
  </div>
  <p class="control has-icons-left has-icons-right " [ngClass]="{'is-loading ':signUpForm.controls['email'].pending}">
    <input formControlName="email" class="input is-rounded border-orange" type="email" placeholder="Correo electronico">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span *ngIf="signUpForm.controls['email'].valid==true" class="icon is-small is-right has-text-success">
      <i class="fas fa-check"></i>
    </span>
    <span *ngIf="(signUpForm.controls['email'].errors!=null && signUpForm.value['email']!=null)"
      class="icon is-small is-right has-text-danger">
      <i class="fa-solid fa-x"></i>
    </span>
  </p>
  <div class="tooltip">
    <span *ngIf="validate('password')" class="tag is-warning tooltip">{{password}}</span>
  </div>
  <p class="control has-icons-left ">
    <input formControlName="password" class="input is-rounded border-orange" type="password" placeholder="Contraseña">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
  <p class="control has-icons-left mt-5">
    <input formControlName="confirmPassword" class="input is-rounded border-orange" type="password"
      placeholder="Confirmar contraseña">
    <span class="icon is-small is-left">
      <i class="fas fa-lock"></i>
    </span>
  </p>
</div>
