<section class="section" id="aboutus">
  <div class="hero-body has-text-centered-mobile">
    <p class="primary-text title is-1-desktop is-3-tablet is-5-mobile ">
      Acerca de nosotros
    </p>

    <div class="columns is-8">
      <div class="column px-5">
        <p class="subtitle  is-size-5 has-text-justified mt-1">
          Fundada en el año 2004 para traer un concepto diferente en sabores y experiencias alimenticias al Valle del
          Cauca.
          <br>
          <br>

          Creadores de la auténtica y exclusiva Pizza Estofada que a su vez ha generado en los paladares de nuestros
          comensales una sensación nunca antes experimentada, por la cantidad y calidad de ingredientes que fueron
          colocados
          en la receta de esta pizza.
        </p>

        <figure class="image">
          <img class="borders box-shadow"
            src="https://images.pexels.com/photos/1653877/pexels-photo-1653877.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
            alt="">
        </figure>
      </div>
      <div class="column  px-5">
        <figure class="image">
          <img class="borders box-shadow"
            src="https://images.pexels.com/photos/7142952/pexels-photo-7142952.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
            alt="">
        </figure>
        <br>
        <p class="subtitle  is-size-5 has-text-justified px-2 mt-1">
          Todos nuestros productos son realizados con ingredientes frescos, naturales y de la mejor calidad para llevar
          a la mesa o a su lugar preferido la mejor comida.
          <br>
          <br>
          A lo largo del tiempo hemos colocado todo nuestro esmero para presentarle nuevas combinaciones de sabores con
          el ánimo de complacer todos los gustos.
          <br>
          <br>
          Nuestra tradicional salsa napolitana es fabricada por nuestras propias manos, dándole un toque casero,
          artesanal al sabor de nuestros productos.
        </p>

      </div>
    </div>



  </div>
</section>
