<div class="hero-body has-text-centered-mobile">
  <p class="primary-text title is-1-desktop is-3-tablet is-size-1-mobile">
    Tu pedido
  </p>
  <p class="subtitle  is-size-5 mt-1">
    ¿Caro? ¡Si! Pero lo mejor…
  </p>
</div>

<div class="p-3 has-background-white borders">
  <h1 *ngIf="orderList.length<=0" class="subtitle is-size-5 has-text-centered"> Aun no se han añadido productos</h1>

  <app-order-item class="is-hidden-mobile" *ngFor="let details of orderList" [details]="details"></app-order-item>
  <app-order-item-mobile class="is-hidden-desktop" *ngFor="let details of orderList" [details]="details">
  </app-order-item-mobile>

</div>
<app-navigation-bar></app-navigation-bar>
