<div class="has-background-white borders suggestion">
  <div *ngFor="let item of listData">
    <div (click)="showSuggestion(item.name)" class="columns is-flex">
      <div class="column">
        <figure class="image size-image">
          <img class="borders" [src]="item.imageUrl!=null?item.imageUrl: 'assets/default-image.jpg'">
        </figure>
      </div>
      <ul class="column">
        <li>
          <h1 class="">
            {{item.name}}
          </h1>
        </li>
        <li>
          <h1 *ngIf="item.price!=null" class="color-orange">
            <i class="fa-solid fa-dollar-sign mr-1"></i>{{item.price |number}}
          </h1>
        </li>
      </ul>
    </div>
  </div>

</div>
<div (click)="closeSuggestion()" *ngIf="listData.length>0" class="background-suggestion">
</div>
