<nav class="navbar px-6 background-color" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="#">
      <img class="logo-header" src="assets/logo.png">
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarBasicExample" class="navbar-menu pl-6">
    <div class="navbar-start is-size-5">
      <a href="#header" class="navbar-item">
        Home
      </a>

      <a href="#menu" class="navbar-item">
        Menú
      </a>

      <a href="#aboutus" class="navbar-item">
        Nosotros
      </a>
      <a href="#contact" class="navbar-item">
        Contáctanos
      </a>

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a routerLink="/signup" class="button background-color-orange is-rounded has-text-white">
            <strong>Crear Cuenta</strong>
          </a>
          <a routerLink="/login" class="button is-rounded is-white">
            Iniciar Sesión
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
