<div class="container ">
  <div class="notification is-white newsletter">
    <div class="columns">

      <div class="column is-5">
        <figure class="image is-square">
          <img class="is-rounded"
            src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=640&w=960"
            alt="">
        </figure>
      </div>
      <div class="column">
        <section class="section is-medium">
          <h1 class="title">NewsLetters</h1>
          <h2 class="subtitle has-text-weight-light">
            Suscríbete a nuestras <strong>ofertas y promociones,</strong>
            ya que por este medio regalamos cupones de descuento para redimirlos en tu próxima compra
          </h2>
          <div class="is-flex">
            <p class="control has-icons-left has-icons-right my-3">
              <input formControlName="name" class="input is-rounded border-orange" type="text"
                placeholder="example@gmail.com">
              <span class="icon is-small is-left">
                <i class="fa-solid fa-envelope"></i>
              </span>
            </p>
            <button class="button is-success is-rounded mt-3 ml-3 p-4"><span class="icon is-small">
                <i class="fas fa-check"></i>
              </span></button>
          </div>

        </section>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>. The source code is licensed
      <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
      is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY NC SA 4.0</a>.
    </p>
    <figure class=""></figure>
    <img src="https://bulma.io/images/made-with-bulma.png" alt="">
  </div>
</footer>
