<footer class="background-color-darkblue py-4" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
  <div class="container is-hidden-mobile">
    <div class="columns is-flex">
      <div class="column">
        <a href="/">
          <figure class="image is-128x128">
            <img src="assets/logo.png" alt="">
          </figure>
        </a>
      </div>
      <div class="column is-flex">
        <div class="navbar-start is-size-5 ">
          <a href="#header" class="navbar-item color-white">
            Home
          </a>

          <a href="#menu" class="navbar-item color-white">
            Menú
          </a>

          <a href="#aboutus" class="navbar-item color-white">
            Nosotros
          </a>
          <a href="#contact" class="navbar-item color-white">
            Contáctanos
          </a>

        </div>
      </div>

      <div class="column is-align-items-center">
        <ul>
          <li class="my-2">
            <a class="color-white is-size-5" href="#"><i class="fa-brands fa-facebook-f mr-2"></i>Burger</a>
          </li>
          <li class="my-2">
            <a class="color-white is-size-5" href=""><i class="fa-brands fa-instagram mr-2"></i>301 342 5643</a>
          </li>
          <li class="my-2">
            <a class="color-white is-size-5" href=""> <i class="fa-brands fa-whatsapp mr-2"></i>Burger</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <h2 class="subtitle is-size-6 has-text-centered has-text-white is-gapless pb-6">Burger © 2022 - Todos los derechos
    reservados
    <a class="color-orange" href="https://github.com/JEstebanDev">JEstebanDev</a>
  </h2>

</footer>
