<div class="container" data-aos="zoom-out" data-aos-anchor-placement="top-bottom">
  <div class="notification is-white newsletter">
    <div class="columns">
      <div class="column is-5 is-align-self-center">
        <figure class="image is-square">
          <img class="is-rounded"
            src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=640&w=960"
            alt="">
        </figure>
      </div>
      <div class="column">
        <section class="section is-medium section-padding">
          <h1 class="title">NewsLetters</h1>
          <h2 class="subtitle has-text-weight-light">
            Suscríbete a nuestras <strong>ofertas y promociones,</strong>
            ya que por este medio regalamos cupones de descuento para redimirlos en tu próxima compra
          </h2>

          <form [formGroup]="newsletter">
            <div class="tooltip">
              <span *ngIf="validate('email')" class="tag is-warning tooltip tooltiptext">{{emailText}}</span>
            </div>
            <div class="is-flex">
              <p class="control has-icons-left has-icons-right my-3">
                <input formControlName="email" class="input is-rounded border-orange" type="email"
                  placeholder="example@gmail.com">
                <span class="icon is-small is-left">
                  <i class="fa-solid fa-envelope"></i>
                </span>
              </p>
              <button (click)="saveEmail()" class="button is-success is-rounded mt-3 ml-3 p-4"><span
                  class="icon is-small">
                  <i class="fas fa-check"></i>
                </span></button>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>
</div>

<br>
<br>
