<app-navbar></app-navbar>
<div id="capture" *ngIf="statusBill==true" class="container notification bill-print">
  <div class="logo is-flex is-justify-content-center borders">
    <figure class="image is-96x96">
      <img [src]="image" alt="">
    </figure>
  </div>

  <div class="info-company p-5">
    <h1 class="title is-4 has-text-centered pt-4">
      Factura # {{billUserDTO.idBill}}
    </h1>
    <h2 class="is-5 has-text-centered">
      {{companyInfo.region}} - {{companyInfo.city}}
    </h2>
    <h2 class="is-5 has-text-centered">
      NIT:{{companyInfo.nitCode}}
    </h2>
    <br>
    <h2 class="is-5 has-text-centered">
      Fecha: {{billUserDTO.date | date:'medium'}}
    </h2>
    <h2 class="is-5 has-text-centered">
      Responsable: {{companyInfo.managerName}}
    </h2>
    <h2 class="is-5 has-text-centered">
      Celular: {{companyInfo.phone}}
    </h2>

  </div>
  <table *ngIf="billOrder!=null" class="table">
    <thead>
      <tr>
        <th>
          Descripción
        </th>
        <th>
          Cant
        </th>
        <th class="has-text-right">
          Valor unitario
        </th>
        <th>
          Valor Total
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of billOrder">
        <td>{{item.product.name}}
          <p *ngIf="item.additional.length>0" class="is-size-6">
            <strong>Adicionales:</strong>
          </p>
          <div *ngFor="let additional of item.additional" class="additional">
            {{additional.name}}<br>
          </div>
        </td>
        <td>{{item.amount}}</td>
        <td class="has-text-right">
          <div class="price" [ngClass]="{'pb-6':item.additional.length>0}">
            <i class="fa-solid fa-dollar-sign"></i>{{item.product.price |number}}
          </div>
          <div *ngFor="let additional of item.additional" class="additional">
            <i class="fa-solid fa-dollar-sign"></i> {{additional.price |number}}<br>
          </div>
        </td>
        <td class="has-text-right"><i class="fa-solid fa-dollar-sign"></i>{{item.total |number}}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th>
          Total
        </th>
        <th>
        </th>
        <th>
        </th>
        <th class="has-text-right">
          <i class="fa-solid fa-dollar-sign"></i>{{billUserDTO.totalPrice |number}}
        </th>
      </tr>
    </tfoot>
  </table>

  <div class="info-cliente">
    <h2 class="is-5 has-text-centered">
      <strong>Detalles del impuesto</strong>
    </h2>
    <div class="table-tax">
      <table class="table">
        <thead>
          <tr>
            <th>
              Tarifa
            </th>
            <th>
              Valor base producto
            </th>
            <th>
              Impuesto
            </th>
            <th>
              Total compra
            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              IVA {{taxes*100 |number}} <i class="fa-solid fa-percent"></i>
            </td>
            <td>
              <i class="fa-solid fa-dollar-sign"></i>{{billUserDTO.totalPrice-totalValueTaxes|number}}
            </td>
            <td>
              <i class="fa-solid fa-dollar-sign"></i>{{totalValueTaxes|number}}
            </td>
            <td>
              <i class="fa-solid fa-dollar-sign"></i>{{billUserDTO.totalPrice |number}}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <br>
    <div *ngIf="user!=null" class="user-data">
      <h2 class="is-5 has-text-centered">
        <strong>Informacion del cliente:</strong>
      </h2>
      <div class="is-flex is-justify-content-center">
        <h2 class="is-5 has-text-centered mr-5">
          Nombre: {{user.name}}
        </h2>
        <h2 class="is-5 has-text-centered">
          Username: {{user.username}}
        </h2>
      </div>
    </div>
    <br>
    <h1 class="title is-4 has-text-centered">
      ¡Gracias por su compra!
    </h1>

    <h2 class="is-5 has-text-centered">
      Visitenos en: www.burgerapp.com
    </h2>
  </div>
</div>

<div class="container bill-info p-5">
  <div class="tile is-ancestor">
    <div *ngIf="statusBill==false" class="tile is-4 is-vertical is-parent">
      <div class="tile is-child section section-padding has-background-white newsletter-child has-text-centered">
        <p class="title">¡Hola tu factura es #{{idBill}}!</p>
        <p>Aquí podrás ver el estado de tu pedido, recarga la página para mantenerte al tanto de tu pedido</p>
        <img *ngIf="statusOrder!=''" src="assets/gifs/{{statusOrder|lowercase}}.gif" width="200" height="100" />
      </div>
    </div>
    <div class="tile is-parent">
      <app-news-letter></app-news-letter>
    </div>
  </div>
</div>


<app-footer class="is-hidden-touch"></app-footer>
