<div class="container" id="sidebar">
  <div class="navbar-brand is-justify-content-end">
    <a class="navbar-item" routerLink="/admin/home">
      <img class="logo-header p-2" src="assets/logo.png">
      <h1 class="title title-nav-bar is-size-4 color-darkblue pl-5">
        Burger App
      </h1>
    </a>

    <a (click)="logout()" class="navbar-item color-darkblue is-hidden-touch" routerLink="/">
      <i class="fa-solid fa-arrow-right-from-bracket is-size-4 "></i>
    </a>
    <div class="navbar-item is-flex pl-1">
      <a (click)="navbar()" role="button" [ngClass]="{'is-active':mobileNavbar}" class="navbar-burger mt-2 ml-3"
        data-target="navMenu" aria-label="menu" aria-expanded="false">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  </div>
  <div class="blocker" [ngClass]="{'is-hidden':!mobileNavbar}" (click)="hidePopup()"></div>
  <div class="navbar-menu stack-top borders" [ngClass]="{'is-active':mobileNavbar}">
    <div class="navbar-start">
      <div class="itemList">
        <a (click)="isActive='home'" routerLink="/admin/home" routerLinkActive="active"
          class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='home'}">
          <i class="fa-solid fa-house "></i>
          <h1 class="is-size-5 p-3">
            Inicio
          </h1>
        </a>

        <a (click)="isActive='products'" routerLink="/admin/products" routerLinkActive="active"
          (click)="showProducts=!showProducts" class="navbar-link is-flex is-align-items-center color-darkblue"
          [ngClass]="{'is-active':isActive=='products'}">
          <i class="fa-solid fa-book-open"></i>
          <h1 class="is-size-5 p-3">
            Productos
          </h1>
        </a>

        <div *ngIf="showProducts" class="submenu ml-5">
          <a (click)="isActive='additional'" routerLink="/admin/additional"
            class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='additional'}">
            <i class="fa-solid fa-circle-plus"></i>
            <h1 class="is-size-5 p-3">
              Adicionales
            </h1>
          </a>

          <a (click)="isActive='category'" routerLink="/admin/category"
            class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='category'}">
            <i class="fa-solid fa-square-caret-down"></i>
            <h1 class="is-size-5 p-3">
              Categorias
            </h1>
          </a>
        </div>

        <a (click)="isActive='bill'" routerLink="/admin/bill" routerLinkActive="active"
          class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='bill'}">
          <i class="fa-solid fa-calendar-check"></i>
          <h1 class="is-size-5 p-3">
            Facturas
          </h1>
        </a>

        <a (click)="isActive='client'" routerLink="/admin/client" routerLinkActive="active"
          class="navbar-item  is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='client'}">
          <i class="fa-solid fa-users"></i>
          <h1 class="is-size-5 p-3">
            Clientes
          </h1>
        </a>

        <a (click)="isActive='grafics'" *ngIf="validateUser" routerLink="/admin/grafics" routerLinkActive="active"
          class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='grafics'}">
          <i class="fa-solid fa-chart-area"></i>
          <h1 class="is-size-5 p-3">
            Graficos
          </h1>
        </a>

        <a (click)="isActive='settings'" *ngIf="validateUser" routerLink="/admin/settings" routerLinkActive="active"
          class="navbar-item is-align-items-center color-darkblue" [ngClass]="{'is-active':isActive=='settings'}">
          <i class="fa-solid fa-sliders"></i>
          <h1 class="is-size-5 p-3">
            Ajustes
          </h1>
        </a>
        <a (click)="logout()" routerLink="/" routerLinkActive="active"
          class="navbar-item is-align-items-center color-darkblue is-hidden-desktop">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          <h1 class="is-size-5 p-3">
            Cerrar sesión
          </h1>
        </a>

      </div>

    </div>
  </div>

  <a routerLink="/admin/grafics" class="is-hidden-touch">
    <div class="box  mt-5 mx-6">
      <h1 class="is-size-6 has-text-centered has-text-weight-medium">
        Mira las estadisticas de tu negocio
      </h1>
      <figure class="image">
        <img src="/assets/chart.png" alt="">
      </figure>
    </div>
  </a>


</div>
