<div class="column is-flex is-justify-content-center	is-align-items-center is-align-content-center is-flex-grow-4">
  <section class="section is-medium">
    <div class="card card-login p-4">
      <app-login-form [loginForm]="loginForm"></app-login-form>
      <h2 class="has-text-centered">
        <a routerLink="/forgetPassword">¿Olvidaste tu contraseña?</a>
      </h2>
      <div class="buttons is-justify-content-center">
        <button (click)="login()" class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Iniciar
          Sesión</button>

        <button routerLink="/signup" class="button is-rounded is-light is-size-5 m-3">Crear Cuenta</button>
      </div>

    </div>
  </section>
</div>
