<div class="columns">
  <div class="column info-padding" [ngClass]="(!showDetails && !validateUser)?'is-12':'is-8'">

    <app-search [holder]="'Escribe el nombre del producto...'" (onDebounce)="search($event)">
    </app-search>

    <app-suggest-input-search [option]="'products'" [listData]="listProduct">
    </app-suggest-input-search>


    <div *ngIf="categories!=null" class="columns is-flex is-flex-wrap-wrap is-justify-content-center"
      data-aos="fade-right">
      <div class="column is-flex is-align-content-center is-justify-content-center is-align-items-center"
        *ngFor="let category of categories">
        <a (click)="filterByCategory(category.name)">
          <figure class="image size-image p-2 borders-categories"
            [ngClass]="[category.name==nameCategory?'background-color-orange':'has-background-white']">
            <img [src]="category.imageUrl">
          </figure>
        </a>
      </div>
    </div>

    <div class="scroll-info" data-aos="fade-up">
      <app-no-info *ngIf="categories==null" [mensaje]="'No hay productos'"></app-no-info>
      <div *ngIf="products!=null" class="columns is-flex is-flex-wrap-wrap is-justify-content-center">
        <app-products-card class="column widthcard" (detailProduct)="showDetailProduct($event)"
          *ngFor="let product of products" [product]="product">
        </app-products-card>
      </div>
    </div>
  </div>

  <div [ngClass]="{'is-4':!(showDetails && validateUser)}" class="column side-padding" data-aos="fade-left">
    <div class="has-background-white borders ">
      <app-product-side id="editProduct" [editProduct]="editProduct" (showDetails)="showDetails = false">
      </app-product-side>
    </div>
  </div>
</div>
