<div id="modal-js-example" class="modal is-active">
  <div class="modal-background"></div>

  <div class="modal-card">
    <div class="box has-text-centered">
      <img src="assets/cookies.webp" alt="">
      <h1 class="title pb-4">Usamos cookies</h1>
      <h2 class="subtitle">Este sitio web usa cookies para ofrecerte una mejor experiencia</h2>
      <button (click)="acceptCookies()" class="button is-rounded background-color-orange has-text-white is-size-5">
        Aceptar
      </button>
    </div>
  </div>
</div>
