<div class="columns">
  <div class="column info-padding" [ngClass]="(!showDetails && !validateUser)?'is-12':'is-8'">
    <app-search [holder]="'Escribe el nombre de la categoría...'" (onDebounce)="search($event)">
    </app-search>
    <app-suggest-input-search [option]="'category'" [listData]="listCategory">
    </app-suggest-input-search>

    <div *ngIf="listCategories!=null" class="scroll-info" data-aos="fade-up">
      <app-no-info *ngIf="listCategories.length==0" [mensaje]="'No hay categorías'"></app-no-info>
      <div class="columns   is-flex is-flex-wrap-wrap is-justify-content-center">
        <app-category-card class="column widthcardcategory m-3 " (detailCategory)="showDetailCategory($event)"
          *ngFor="let category of listCategories" [category]="category">
        </app-category-card>
      </div>
    </div>
  </div>

  <div [ngClass]="{'is-4':!(showDetails && validateUser)}" class="column side-padding" data-aos="fade-left">
    <div class="has-background-white borders ">
      <app-category-side id="editCategory" [editCategory]="editCategory" (showDetails)="showDetails = false">
      </app-category-side>
    </div>
  </div>
</div>
