<div class="columns">
  <div class="column is-8 pl-6 pt-6">

    <app-search [holder]="'Escribe el nombre de la categoría...'"></app-search>

    <div *ngIf="listCategories!=null" class="columns is-flex-wrap-wrap is-justify-content-center">

      <app-category-card class="column widthcard m-3 " (detailCategory)="showDetailCategory($event)"
        *ngFor="let category of listCategories" [category]="category">
      </app-category-card>
    </div>

  </div>
  <div class="column pt-6 pr-6">

    <div class="has-background-white borders ">
      <app-category-side [editCategory]="editCategory">

      </app-category-side>

    </div>

  </div>
</div>
