<div class="modal is-active">
  <div class="modal-background" (click)="closeModal()"></div>
  <div class="modal-card bill" data-aos="fade-up">
    <header class="modal-card-head background-color-orange">
      <p class="modal-card-title has-text-white is-size-4 has-text-centered">Factura # {{bill.billUserDTO.idBill}}</p>
      <button (click)="closeModal()" class="delete" aria-label="close"></button>
    </header>
    <section class="modal-card-body">
      <div class="columns">
        <div class="column is-9">
          <ul class="subtitle is-size-6 has-text-weight-semibold color-darkblue">
            <li *ngIf="bill.billUserDTO.userForBill!=null">
              Cliente: <span class="has-text-weight-normal">{{bill.billUserDTO.userForBill.name}}</span>
            </li>
            <li *ngIf="bill.billUserDTO.userForBill!=null">
              Username: <span class="has-text-weight-normal">{{bill.billUserDTO.userForBill.username}}</span>
            </li>
            <li>
              Fecha: <span class="has-text-weight-normal">{{bill.billUserDTO.date | date}}</span>
            </li>
            <li *ngIf="bill.billUserDTO.noTable>0">
              Mesa: <span class="has-text-weight-normal">{{bill.billUserDTO.noTable}}</span>
            </li>
            <li>
              Estado: <span class="tag has-text-weight-normal" [ngClass]="{'is-success':(bill.billUserDTO.statusBill==='PENDING'),
              'is-warning':(bill.billUserDTO.statusBill==='PAID'),
                'is-danger':(bill.billUserDTO.statusBill==='DELETED')}">{{bill.billUserDTO.statusBill
                |statusBill}}</span>
            </li>
            <li>
              Metodo de pago: <span class="has-text-weight-normal">{{bill.billUserDTO.payMode.name}}</span>
            </li>
          </ul>
        </div>
        <div *ngIf="bill.billUserDTO.userForBill!=null"
          class="column is-2 is-flex is-justify-content-end image-bill-responsive">
          <figure class="image is-96x96">
            <img *ngIf="bill.billUserDTO.userForBill.urlImage!=null" class="is-rounded"
              [src]="bill.billUserDTO.userForBill.urlImage">
          </figure>
        </div>
      </div>
      <table class="table table-padding is-fullwidth is-striped has-background-light borders">
        <thead>
          <tr>
            <th class="table-text">Cant</th>
            <th class="table-text">Producto</th>
            <th class="table-text">Adicionales</th>
            <th class="table-text pr-3">Valor Uni</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let orders of bill.ordersDTO">
            <th class="table-item has-text-left">
              {{orders.amount}}
            </th>
            <th class="table-item has-text-left">
              {{orders.product.name}}
            </th>
            <th class="table-item has-text-left">
              <ul>
                <div *ngIf="orders.additional.length==0">
                  <span
                    class="tag has-text-centered is-size-6 has-text-weight-semibold has-background-warning p-2 mr-2 mb-2">
                    Sin
                    adicionales</span>
                </div>
                <span *ngFor="let ingredient of orders.additional"
                  class="tag has-text-centered is-size-6 has-text-weight-semibold has-background-warning p-2 mr-2 mb-2">
                  {{ingredient.name}}

                </span>
              </ul>
            </th>
            <th class="table-item has-text-left">
              <i class="fa-solid fa-dollar-sign"></i> {{orders.product.price}}
            </th>
          </tr>
        </tbody>
      </table>
    </section>
    <footer class="modal-card-foot is-justify-content-center">
      <span>
        <h1 class="title is-size-4 has-text-centered color-orange has-text-semibold ">
          Total: <i class="fa-solid fa-dollar-sign"></i> {{bill.billUserDTO.totalPrice | number}}
        </h1>
        <div class="is-flex is-justify-content-center">
          <button *ngIf="bill.billUserDTO.statusBill!=='PAID' && bill.billUserDTO.statusBill!=='DELETED' "
            (click)="statusBill(bill.billUserDTO.idBill,'PAID')"
            class="button background-color-orange has-text-weight-semibold has-text-white">Pago</button>
          <button (click)="statusBill(bill.billUserDTO.idBill,'DELETED')"
            class="button background-color-darkblue has-text-weight-semibold has-text-white">Cancelar
            pedido</button>
        </div>
      </span>

    </footer>
  </div>
</div>
