<div class="borders has-background-white">
  <a (click)="detailsProduct()">
    <figure class="image ">
      <div *ngIf="product.highlight>0" class="highlight is-flex  is-justify-content-flex-end is-align-self-flex-end">
        <figure class="image is-32x32 ml-2 p-1">
          <img src="assets/star.png">
        </figure>

      </div>
      <img class="borders-product-image" [src]="product.imageUrl!=null?product.imageUrl: 'assets/default-image.jpg'">
    </figure>

    <div class="content has-text-centered">
      <header>
        <span *ngIf="product.duration!=null"
          class="top-content-product is-size-5 is-size-6-mobile color-orange has-text-weight-semibold">
          <i class="fa-solid fa-clock color-darkblue "></i>
          {{product.duration}} min
        </span>

        <span *ngIf="product.calories!=0"
          class="top-content-product is-size-5 is-size-6-mobile color-darkblue has-text-weight-semibold">
          <i class="fa-solid fa-fire color-orange"></i>
          {{product.calories}} kcal
        </span>

      </header>

      <div class="has-text-centered">
        <div class="is-flex is-align-items-center is-justify-content-center height-name">
          <h3 class="is-size-5 mt-2 ">
            {{product.name}}
          </h3>
        </div>
        <span class="color-orange has-text-weight-semibold is-size-5 mt-2">
          <i class="fa-solid fa-dollar-sign"></i> {{product.price}}
        </span>
      </div>
    </div>
  </a>
  <div class="has-text-centered py-2">
    <button (click)="addtoCar()" class="button is-warning has-text-weight-semibold">Comprar</button>
  </div>
</div>
<app-product-card-modal (close)="isModalVisible=false" *ngIf="isModalVisible" (Order)="orderInfo($event)"
  [product]="product">
</app-product-card-modal>
