<div class="padding-side">
  <div class="columns is-flex is-justify-content-center">
    <span class="column is-1"></span>
    <h1 class="column is-10 is-size-4 has-text-centered has-text-weight-semibold color-darkblue">
      {{title}}
    </h1>
    <a class="is-flex is-align-items-center" (click)="clean()"><i class="fa-solid fa-broom color-orange"></i></a>
  </div>
  <form [formGroup]="product">
    <figure *ngIf="editImage!=null" class="image is-5by3">
      <img class="round" [src]="editImage" alt="Placeholder image">
    </figure>
    <div class="file is-normal has-name pt-3">
      <label class="file-label">
        <input class="file-input" id="image" (change)="onFileChange($event)" type="file" name="resume"
          accept="image/png, image/jpeg, image/jpg">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Imagenes
          </span>
        </span>
        <span class="file-name">
          {{imageFile?.name | filename }}
        </span>
      </label>
      <button (click)="removeImage()" class="button is-danger is-light ml-2">Remover imagen</button>
    </div>

    <div class="tooltip">
      <h1 class="is-size-5  color-darkblue my-2">Nombre del producto</h1>
      <span *ngIf="validate('name')" class="tag is-warning tooltip tooltiptext">Este campo es obligatorio</span>
    </div>
    <input formControlName="name" class="input is-rounded input-fields" type="text" placeholder="Nombre del producto">

    <div class=" tooltip">
      <h1 class="is-size-5 color-darkblue my-2">Descripción</h1>
      <span *ngIf="validate('description')" class="tag is-warning tooltip tooltiptext">
        Este campo es obligatorio
      </span>
    </div>
    <div class="control ">
      <textarea formControlName="description" class="textarea has-fixed-size borders input-fields"
        placeholder="Breve descripción del producto"></textarea>
    </div>

    <div class="tooltip">
      <h1 class="is-size-5 color-darkblue my-2">Precio</h1>
      <span *ngIf="validate('price')" class="tag is-warning tooltip tooltiptext">Este campo es obligatorio</span>
    </div>
    <input formControlName="price" class="input is-rounded input-fields" type="number"
      placeholder="Precio del producto">
    <div class="columns">
      <div class="column is-6">
        <h1 class="is-size-5 color-darkblue my-2">Calorias</h1>
        <input formControlName="calories" class="input is-rounded input-fields" type="number"
          placeholder="Digita las kilocalorias">
        <div class="tooltip">
          <h1 class="is-size-5 color-darkblue my-2">Puntos de descuento</h1>
          <span *ngIf="validate('discountPoint')" class="tag is-warning py-5 tooltip tooltiptext">Debes ser menor o <br>
            igual a
            10.000</span>
        </div>

        <input formControlName="discountPoint" class="input is-rounded input-fields" type="number"
          placeholder="Digita los puntos">
        <div class="tooltip">
          <h1 class="is-size-5 color-darkblue my-2">Categorías</h1>
          <span *ngIf="validate('category')" class="tag is-warning tooltip tooltiptext">Debes seleccionar una
            categoría</span>
        </div>
        <br>
        <div *ngIf="categories!=null" class="select is-rounded">
          <select formControlName="category" class="input-fields">
            <option value="0">Selecciona una categoría</option>
            <option [value]="item.idCategory" *ngFor="let item of categories.data.category">{{item.name}}</option>
          </select>
        </div>

      </div>
      <div class="column is-6">
        <div class="tooltip">
          <h1 class="is-size-5 color-darkblue my-2">Duración</h1>
          <span *ngIf="validate('duration')" class="tag is-warning tooltip tooltiptext">Debes ser menor a 90</span>
        </div>
        <input formControlName="duration" class="input is-rounded input-fields" type="number"
          placeholder="Tiempo en minutos">
        <div class="tooltip">
          <h1 class="is-size-5 color-darkblue my-2">Destacado</h1>
          <span *ngIf="validate('highlight')" class="tag is-warning py-5 tooltip tooltiptext">Debes ser menor o <br>
            igual a
            10</span>
        </div>
        <input formControlName="highlight" class="input is-rounded input-fields" type="number"
          placeholder="Destacar el producto">
        <h1 class="is-size-5 color-darkblue my-2">Estado</h1>
        <div class="select is-rounded">
          <select formControlName="status" class="input-fields">
            <option value="ACTIVE">Activo</option>
            <option value="INACTIVE">Inactivo</option>
          </select>
        </div>

      </div>
    </div>
    <div *ngIf="validateUser" class="buttons-option is-flex  is-flex-wrap-wrap
    is-justify-content-center">
      <button *ngIf="isClean==false" (click)="updateProducts()" [disabled]="product.valid==false"
        class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Editar
        producto</button>

      <button *ngIf="isClean" [disabled]="product.valid==false" (click)="createProduct()"
        class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Crear
        producto</button>

      <button [disabled]="idProduct==null" (click)="deleteProduct()"
        class="button is-rounded background-color-darkblue has-text-white is-size-5 m-3">Eliminar</button>
    </div>
    <div *ngIf="!validateUser" class="buttons-option is-flex  is-flex-wrap-wrap
    is-justify-content-center">
      <button *ngIf="isClean==false" (click)="updateProducts()" [disabled]="product.valid==false"
        class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Editar
        producto</button>
    </div>

  </form>
