<div class="columns">
  <div class="column is-8 pl-6 pt-6">

    <app-search [holder]="'Escribe el número del pedido...'" (onDebounce)="search($event)"></app-search>

    <div class="px-5 pt-3 has-background-white borders">

      <app-order-info [homeProductsDetails]="homeProductsDetails"></app-order-info>

    </div>
  </div>
  <div class="column pt-6">

    <app-order-side (homeProductsDetails)="getProductsDetails($event)"></app-order-side>

  </div>
</div>

<app-order-modal (close)="isModalVisible=false" *ngIf="isModalVisible" [bill]="bill"></app-order-modal>
