<div class="columns">
  <div class="column is-8 info-padding">

    <app-search [holder]="'Escribe el nombre del adicional..'" (onDebounce)="search($event)">
    </app-search>
    <app-suggest-input-search [option]="'additional'" [listData]="listAdditional">
    </app-suggest-input-search>

    <div class="scroll-info" data-aos="fade-up">
      <div *ngIf="listAdditionals!=null" class="columns is-flex is-flex-wrap-wrap is-justify-content-center">
        <app-additional-card class="column widthcard" (detailAdditional)="showDetailAdditional($event)"
          *ngFor="let additional of listAdditionals" [additional]="additional">
        </app-additional-card>
      </div>
    </div>

  </div>
  <div class="column is-4 side-padding" data-aos="fade-left">
    <div class="has-background-white borders ">
      <app-additional-side [editAdditional]="editAdditional"></app-additional-side>

    </div>

  </div>
</div>
