<h1 class="is-size-4 has-text-centered has-text-weight-semibold">
  Ajustes de las busquedas <a (click)="clean()"><i class="fa-solid fa-broom color-orange ml-6"></i></a>
</h1>
<br>
<div class="px-4">
  <h2 class="subtitle is-5">
    Consulta de los mejores clientes:
  </h2>
  <input [ngModel]="username" (ngModelChange)="getClient('username', $event)" type="text"
    class="input is-rounded input-fields" placeholder="Username">
  <input [ngModel]="startDateClient" (ngModelChange)="getClient('startDateClient', $event)" type="date"
    class="calendar grafics m-4 is-size-5 borders ng-untouched ng-pristine ng-valid">
  <input [ngModel]="endDateClient" (ngModelChange)="getClient('endDateClient', $event)" type="date"
    class="calendar grafics m-4 is-size-5 borders ng-untouched ng-pristine ng-valid">
  <br>
  <br>
  <h2 class="subtitle is-5">
    Consulta de los productos mas comprados:
  </h2>
  <div class="columns">
    <div class="column is-6 is-flex is-flex-wrap-wrap">
      <input [ngModel]="idProduct" (ngModelChange)="getProduct('idProduct', $event)"
        class="input is-rounded input-fields" type="number" placeholder="Digita el id del producto">
      <input [ngModel]="startDateProduct" (ngModelChange)="getProduct('startDateProduct', $event)" type="date"
        class="calendar grafics m-4 is-size-5 borders ng-untouched ng-pristine ng-valid">

    </div>
    <div class="column is-6 is-flex is-flex-wrap-wrap">
      <input [ngModel]="limit" (ngModelChange)="getProduct('limit', $event)" class="input is-rounded input-fields"
        type="number" placeholder="digita el limite">
      <input [ngModel]="endDateProduct" (ngModelChange)="getProduct('endDateProduct', $event)" type="date"
        class="calendar grafics m-4 is-size-5 borders ng-untouched ng-pristine ng-valid">
    </div>
  </div>
</div>
