<div class="p-5">

  <div class="columns is-flex is-justify-content-center">
    <span class="column is-1"></span>
    <h1 class="column is-10 is-size-4 has-text-centered has-text-weight-semibold color-darkblue">
      Nuevo adicional
    </h1>
    <a (click)="clean()"><i class="fa-solid fa-broom color-orange"></i></a>
  </div>
  <pre>{{additional.valid}}</pre>
  <form [formGroup]="additional">

    <figure *ngIf="editImage!=null" class="image is-5by3">
      <img class="round" [src]="editImage" alt="Placeholder image">
    </figure>
    <div class="file is-normal has-name pt-3">
      <label class="file-label">
        <input class="file-input" id="image" (change)="onFileChange($event)" type="file" name="resume"
          accept="image/png, image/jpeg, image/jpg">
        <span class="file-cta">
          <span class="file-icon">
            <i class="fas fa-upload"></i>
          </span>
          <span class="file-label">
            Imagenes
          </span>
        </span>
        <span class="file-name">
          {{imageFile?.name | filename }}
        </span>
      </label>
    </div>

    <h1 class="is-size-5 color-darkblue my-2">Nombre del adicional</h1>
    <input formControlName="name" class="input is-rounded input-fields" type="text" placeholder="Rounded input">

    <h1 class="is-size-5 color-darkblue my-2">Categorías</h1>
    <div *ngIf="editCategories!=null">
      <label *ngFor="let category of editCategories" class="is-size-5 color-darkblue checkbox">
        <input [checked]="category.check" (change)="onChecked(category.idCategory,$event)"
          class="is-size-4 m-3 checkbox" type="checkbox" [value]="category.idCategory">
        {{category.name}}
      </label>
    </div>

    <div class="columns">
      <div class="column is-6">
        <h1 class="is-size-5 color-darkblue my-2">Precio</h1>
        <input formControlName="price" class="input is-rounded input-fields" type="number"
          placeholder="Precio del producto">
        <button *ngIf="isClean==false" (click)="updateAdditionals()" [disabled]="additional.valid==false"
          class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Editar
          adicional</button>
        <button *ngIf="isClean" (click)="createAdditional()"
          class="button is-rounded background-color-orange has-text-white is-size-5 m-3">Crear
          adicional</button>
      </div>
      <div class="column is-6">

        <h1 class="is-size-5 color-darkblue my-2">Estado</h1>
        <div class="select is-rounded">
          <select formControlName="status" class="input-fields">
            <option value="ACTIVE">Activo</option>
            <option value="INACTIVE">Inactivo</option>
          </select>
        </div>
        <button (click)="deleteAdditional()"
          class="button is-rounded background-color-darkblue has-text-white is-size-5 m-3">Eliminar</button>
      </div>
    </div>
  </form>
